$color-primary: var(--acf-openstreetmap-color-primary, #2271b1) !default;
$color-danger: var(--acf-openstreetmap-color-danger, #790000) !default;
$color-white: var(--acf-openstreetmap-color-white, #ffffff) !default;