.acf-openstreetmap__marker-edit-overlay {
    display: none;
    height: 100vh;
    width: calc(270px + 5%);
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    &.is-open {
        display: flex;
        background-color: white;
    }

    .acf-openstreetmap__marker-edit-buttons {
        display: flex;
        gap: 1rem;
    }
}