@use "./colors.scss" as colors;
@use "./options.scss";
@use "./editOverlay.scss";
@use "./setting.scss";
@use "@helsingborg-stad/openstreetmap/dist/main.css";

.acf-openstreetmap {
    position: relative;

    .acf-openstreetmap__button {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: colors.$color-white;
        border: 1px solid colors.$color-primary;
        color: colors.$color-primary;
        border-radius: 2px;
        transition: .2s ease-in-out;
        display: flex;
        justify-content: center;

        &.selected,
        &:hover {
            background-color: colors.$color-primary;
            color: colors.$color-white;
        }

        &.acf-openstreetmap__button--cancel {
            background-color: colors.$color-white;
            color: colors.$color-danger;
            border: 1px solid colors.$color-danger;
            &:hover {
                background-color: colors.$color-danger;
                color: colors.$color-white;
            }
        }
    }
}