$color-primary: var(--acf-openstreetmap-color-primary, #199900) !default;
$color-white: var(--acf-openstreetmap-color-white, #ffffff) !default;

.acf-openstreetmap {
    &__options {
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;
        position: relative;
    }

    &__option {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: $color-white;
        border: 1px solid $color-primary;
        color: $color-primary;
        border-radius: 2px;

        &.selected {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}