.acf-openstreetmap__options {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    position: relative;

    > * {
        width: 12.5rem;
    }
}

.acf-openstreetmap__option-list {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        justify-content: space-between;
        cursor: pointer;

        &.is-active {
            font-size: 1.25rem;
            border-top: 1px solid $color-primary;
            border-bottom: 1px solid $color-primary;
        }

        span:not(.dashicons) {
            max-width: 11.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        > * {
            transition: .2s ease-in-out;
        }

        &:hover {
            span:not(.dashicons-edit) {
                font-weight: bold;
            }
        }

        .dashicons-edit:hover {
            font-weight: bold;
        }
    }
}