.acf-openstreetmap__options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
    position: relative;

    .acf-openstreetmap__option {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 15.5rem;

        & > ul {
            width: 15.5rem;
        }
    }
}

.acf-openstreetmap__option-layer-group {
    flex: 0 0 100%;
}

.acf-openstreetmap__option-layer-group {
    padding-top: 1rem;
    padding-bottom: 2rem;

    ul {
        padding-top: .5rem;
    }
    div {
        cursor: pointer;
        display: flex;
        font-size: 18px;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        justify-content: space-between;
        transition: .2s ease-in-out;
        width: 15.5rem;
        border-bottom: 2px solid black;
        padding-bottom: .5rem;
        
        &:hover {
            font-weight: bold;
        }
    }
}

.acf-openstreetmap__option-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;

    &.acf-openstreetmap__option-list-start-position {
        .edit-icon {
            display: none;
        }
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        justify-content: space-between;
        cursor: pointer;

        &.is-active {
            font-size: 1.1rem;
            font-weight: bold;
            align-items: center;
        }

        span:not(.edit-icon) {
            max-width: 11.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        > * {
            transition: .2s ease-in-out;
        }

        .edit-icon:hover {
            font-weight: bold;
        }

        &:hover {
            span:not(.edit-icon) {
                font-weight: bold;
            }
        }
    }
}